/*@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Raleway:400,300,700|Jura:300);*/

body, html {
	margin:0;
	padding:0;
	height:100%;
}

#app {
	height:250px;
	position:relative;
	top:50%;
	margin-top:-150px;
}

.container > section {
    margin: 0 auto;
    /*padding: 12em 3em;*/
    text-align: center;
}

body {
    font-family: 'Raleway', sans-serif;
    }

.container header {
    color: inherit;
}
.container a {
    color: inherit;
}
.container  h1 {
    font-family: Lato;
    font-size: 6.00em;
    font-weight: 100;
}
.container  h2 {
    margin-top: -70px;
    /* font-family: Lato; */
    font-weight: 100;
    font-size: 1.25em;
    filter: alpha(opacity=70);
    zoom: 1.0;
    -moz-opacity:0.50;
    opacity:0.50;
}


nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.00em;
    }

nav a:hover,
nav a:focus {
    outline: none;
    }

/* Effect 14: border switch */
.cl-effect-14 a {
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
    position: absolute;
    width: 45px;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0.2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

.cl-effect-14 a::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

.cl-effect-14 a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
    opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}

.player {
	position:fixed;
	right:20px;
	top:8px;
	color:white;
	cursor:default;
}

.player i {
	cursor:pointer;
	margin-right:7px;
}

.bg-info {
	position: fixed;
	left: 15px;
	top:8px;
	color:white;
	cursor: default;
}

.hide {
	display:none;
}